#svg {
	position: absolute;
	top: 50px;
	width: 75%;
	height: calc(100% - 52px);
	border: 1px solid #000;
}

.Nodegroup > .NodeContainer > .Background {
	fill: blue;
	rx: 15px;
	ry: 15px;
}

.Nodegroup > .NodeContainer > .Header > text {
	text-anchor: middle;
	fill: white;
}

.Nodegroup > .NodeContainer > .Header > rect {
	fill: red;
	rx: 15px;
	ry: 15px;
}

.Nodegroup > .NodeContainer .Input > circle,
.Nodegroup > .NodeContainer .Output > circle {
	fill: red;
	r: 6px;
	cx: 0px;
	cy: 6px;
}

/* hover is for when we are moving over a connecter 
 * while connhover is for when you can make a connection to an other node
 */
.Nodegroup > .NodeContainer > .Inputs > .Input > circle:hover,
.Nodegroup > .NodeContainer > .Inputs > .Input > .ConnHover,
.Nodegroup > .NodeContainer > .Outputs > .Output > circle:hover,
.Nodegroup > .NodeContainer > .Outputs > .Output > .ConnHover {
	stroke: green;
	stroke-width: 4px;
}

.Nodegroup > .NodeContainer > .Inputs {
	x: 0%;
}
.Nodegroup > .NodeContainer > .Outputs {
	x: 100%;
}

.PathGroup > .Path { /* change to final container */
	stroke-dasharray: 20,5,5,5,5,5;
	stroke-width: 2px;
	stroke: #999;
	fill: none;
}

.PathGroup > .Path:hover { /* change to final container */
	stroke-width: 3px;
	stroke: #955;
	fill: none;
}
